header {
    text-align: center;
    color: #ffffff;;
}
section {
    text-align: center;
    max-width: 750px;
    margin: 20px auto;
    padding: 20px;
    background-color:rgb(72, 119, 119);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(34, 20, 20, 0.1);
}

body {
    background-color: darkslategrey;
    font-family: Arial;
}

h1 {
    color: pink;
    size: 18pt;
}